*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input[type='search']::-webkit-search-decoration:hover,
input[type='search']::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

.link {
  position: relative;
  margin: 0 1em;
  padding: 0.3em;
  font-size: 1.5rem;
  font-weight: bold;
  color: #004fb6;
  text-decoration: none;
}

.link:hover {
  color: #004fb6;
}

.link,
.link::after,
.link::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.animation-link::before,
.animation-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #004fb6;
}

.animation-link::before {
  right: 50%;
}

.animation-link::after {
  left: 50%;
}

.animation-link:hover::before,
.animation-link:hover::after {
  width: 50%;
}

nav {
  background-color: #ffd900;
  z-index: 10;
}

nav .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #004fb6;
}

nav .fa-bars {
  padding: 1rem;
  font-size: 3rem;
  color: #004fb6;
}

nav .navbar-nav {
  display: inline-block;
}

nav .navbar-nav .nav-search {
  width: 90px;
}

nav .navbar-nav .link .fa-magnifying-glass {
  font-size: 1.4rem;
}

nav .navbar-nav .link .fa-x {
  font-size: 1.4rem;
  color: #fff;
}

nav .navbar-nav .nav-search {
  text-decoration: none;
  z-index: 0;
}

nav .navbar-nav .nav-search::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #004fb6;
  z-index: -1;
}

nav .navbar-nav .nav-search-color-change {
  color: #fff;
  background-color: #004fb6;
}

nav .navbar-nav .nav-search:hover {
  color: #fff;
}

nav .navbar-nav .nav-search:hover::after {
  height: 100%;
}

.drop-down-menu-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-weight: bold;
  color: #004fb6;
  background-color: rgba(0, 79, 182, 0.8);
  z-index: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.drop-down-menu-mobile .white-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  background-color: #fff;
}

.drop-down-menu-mobile .white-background .close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  color: #004fb6;
  background: none;
  border: none;
}

.drop-down-menu-mobile .white-background .close-button i {
  margin-left: 0.2em;
}

.drop-down-menu-mobile .white-background .form-floating {
  margin-top: 5em;
}

.drop-down-menu-mobile .white-background .form-floating .form-control {
  width: 90vw;
  margin-left: 2em;
  margin-bottom: 1.2em;
}

.drop-down-menu-mobile .white-background .form-floating .fa-magnifying-glass {
  margin-left: 3em;
  font-size: 1.4rem;
}

.drop-down-menu-mobile .white-background .form-floating .search-button {
  display: none;
  margin-left: 3em;
  padding: 0.2em 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5c596d;
  background-color: #eee;
  border: none;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 0;
}

.drop-down-menu-mobile .white-background .form-floating .search-button:hover {
  background-color: lightgray;
}

.drop-down-menu-mobile .white-background .form-floating input {
  font-size: 1.2em;
  font-weight: bold;
  color: #004fb6;
}

.drop-down-menu-mobile .white-background .form-floating .navbar-nav .link {
  border-bottom: 2px solid #eee;
}

.drop-down-menu-mobile-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header .hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/hero-img-small.jpg");
  z-index: 0;
}

header .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

header .hero-img .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 2em;
  height: 100%;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}

header .hero-img .hero-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

header .hero-img .hero-content p {
  font-size: 2.7rem;
}

header .hero-img .hero-content .hero-btn {
  padding: 0.8em 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffd900;
  border: none;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
  width: 100%;
}

header .hero-img .hero-content .hero-btn-first {
  color: #004fb6;
}

header .hero-img .hero-content .hero-btn-second {
  margin: 1em 0;
  color: #004fb6;
  background-color: #eee;
}

header .hero-img .hero-content .hero-btn:hover {
  color: #fff;
  background-color: #004fb6;
}

.products .card-group .card {
  margin: 2em 1em;
}

.products .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
}

.products .card-group .card .card-body .card-title {
  font-size: 2rem;
  font-weight: bold;
}

.products .card-group .card .card-body .card-text {
  font-size: 1.5rem;
  height: 100%;
}

.products .card-group .card .card-body .card-btn {
  padding: 0.8em 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffd900;
  border: none;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
}

.products .card-group .card .card-body .card-btn-first {
  color: #004fb6;
}

.products .card-group .card .card-body .card-btn-second {
  margin: 1em 0;
  color: #004fb6;
  background-color: #eee;
}

.products .card-group .card .card-body .card-btn:hover {
  color: #fff;
  background-color: #004fb6;
}

.products .card-group .card .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vw;
}

.products .rest-of-products-list .product-box {
  padding: 0 1em;
  height: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.products .rest-of-products-list .product-box .product-heading {
  color: #004fb6;
  font-size: 2.2rem;
  font-weight: bold;
}

.products .rest-of-products-list .product-box .list .list-item {
  padding: 0.5em 0;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.products .rest-of-products-list .product-box .list .list-item:hover {
  color: #004fb6;
  font-weight: bold;
}

.products .rest-of-products-list .show-hide-products {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 0.1em solid #5c596d;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.products .rest-of-products-list .show-hide-products .fa-chevron-down {
  font-size: 2rem;
  color: #fff;
  color: #5c596d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.products .rest-of-products-list p {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1em;
}

.products .rest-of-products-list .button-box {
  margin-left: 3em;
}

.products .rest-of-products-list .button-box:hover {
  cursor: pointer;
}

.products .rest-of-products-list .button-box:hover p {
  color: #004fb6;
}

.products .rest-of-products-list .button-box:hover .show-hide-products {
  background-color: #004fb6;
}

.products .rest-of-products-list .button-box:hover .fa-chevron-down {
  color: #fff;
}

.products .rest-of-products-list .drop-rest-of-products {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.products .rest-of-products-list .change button {
  background-color: #004fb6;
}

.products .rest-of-products-list .change button .fa-chevron-down {
  color: #fff;
}

.products .rest-of-products-list .change p {
  color: #004fb6;
}

.products .product-box-margin-top {
  margin-top: 2.5em;
}

.products .end-line-rest-of-products {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products .end-line-rest-of-products-active {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.service {
  background-color: #004fb6;
}

.service h2 {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
}

.service .service-card-group .service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 1em;
  height: 250px;
  background-color: #eee;
}

.service .service-card-group .service-card .fa-solid {
  margin-bottom: 0.3em;
  font-size: 6rem;
  color: #004fb6;
}

.service .service-card-group .service-card .service-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service .service-card-group .service-card .service-card-body .service-card-title {
  font-size: 1.7rem;
  font-weight: bold;
}

.service .service-card-group .service-card .service-card-body .link {
  margin-top: 2.5em;
}

.footer {
  background-color: #2e2e2e;
}

.footer .footer-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 1em;
}

.footer .footer-boxes .footer-box {
  margin-top: 0.8em;
  font-size: 1.4rem;
}

.footer .footer-boxes .footer-box .footer-box-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
}

.footer .footer-boxes .footer-box .footer-box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  list-style-type: none;
}

.footer .footer-boxes .footer-box .footer-box-list .link {
  margin: 0;
  padding: 1em 0;
  font-weight: normal;
  color: #ccc;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.footer .footer-boxes .footer-box .footer-box-list .link:hover {
  color: #fff;
}

.footer .footer-boxes .footer-box .footer-box-list .animation-link::before,
.footer .footer-boxes .footer-box .footer-box-list .animation-link::after {
  border-bottom: 2px solid #fff;
}

.footer .footer-boxes .social-media {
  margin-top: 1em;
  font-size: 2.5rem;
}

.footer .footer-boxes .social-media .fab {
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer .footer-boxes .social-media .fa-twitter {
  padding: 0 0.8em;
}

.footer .footer-boxes .social-media .fab:hover {
  color: #5c596d;
}

.footer hr {
  color: #ccc;
}

.footer .footer-box-second-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-box-second-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer .footer-box-second-list .list .link {
  font-weight: normal;
  color: #ccc;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.footer .footer-box-second-list .list .link:hover {
  color: #fff;
}

.footer .footer-box-second-list .list .animation-link::before,
.footer .footer-box-second-list .list .animation-link::after {
  border-bottom: 2px solid #fff;
}

.footer .footer-box-second-list .footer-copy-right {
  margin-top: 0.5em;
  font-size: 1.5rem;
  color: #ccc;
  list-style-type: none;
}

.insurance-car-more-info .insurance-car-more-info-content h1 {
  margin-top: 1em;
  font-size: 3.5rem;
  text-align: center;
}

.insurance-car-more-info .insurance-car-more-info-content p {
  margin: 2em 1em;
  font-size: 1.6rem;
  text-align: center;
}

.insurance-car-more-info .insurance-car-more-info-content .products .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insurance-car-more-info .insurance-car-more-info-content .products .card-group .card .card-body {
  position: relative;
  height: 500px;
}

.insurance-car-more-info .insurance-car-more-info-content .products .card-group .card .card-body ul li {
  font-size: 1.5rem;
  margin: 1em 1em;
}

.insurance-car-more-info .insurance-car-more-info-content .products .card-group .card .card-body .card-btn {
  position: absolute;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.insurances-header .insurances-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.insurances-header .insurances-content h1 {
  margin-top: 1em;
  font-size: 3.5rem;
  text-align: center;
}

.insurances-header .insurances-content p {
  margin: 1em 1em;
  font-size: 1.6rem;
  text-align: center;
}

.insurances-header .insurances-content .service {
  background-color: #fff;
}

.insurances-header .insurances-content .service .service-card {
  background-color: #fff;
}

.insurances-header .insurances-content .end-button {
  margin: 2em 0;
  width: 95%;
  padding: 0.8em 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffd900;
  border: none;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
  color: #004fb6;
}

.insurances-header .insurances-content .end-button:hover {
  color: #fff;
  background-color: #004fb6;
}

.insurances-header .insurances-content .products .card-group .card {
  text-align: center;
}

.insurances-header .insurances-content .products .card-group .card .fa-solid {
  margin-top: 1em;
  font-size: 4rem;
  color: #004fb6;
}

.insurances-header .insurances-content .products .card-group .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  text-align: center;
}

.car-insurance .hero-img {
  background-image: url("../img/car-hero-img-small.jpg");
}

.car-insurance .hero-img .hero-content .hero-btn {
  margin: 1em 0;
}

.tourist-insurance .hero-img {
  background-image: url("../img/tourist-hero-img-small.jpg");
}

.tourist-insurance .hero-img .hero-content .hero-btn {
  margin: 1em 0;
}

.life-insurance .hero-img {
  background-image: url("../img/life-hero-img-small.jpg");
}

.life-insurance .hero-img .hero-content .hero-btn {
  margin: 1em 0;
}

.investments .hero-img {
  background-image: url("../img/investments-hero-img-small.jpg");
}

.investments .hero-img .hero-content {
  position: absolute;
  top: 50%;
  display: inline-block;
}

.retiring .hero-img {
  background-image: url("../img/retiring-hero-img-small.jpg");
}

.retiring .hero-img .hero-content {
  position: absolute;
  top: 50%;
  display: inline-block;
}

.insurance-calculator-form .insurance-calculator-form-content {
  max-width: 600px;
}

.insurance-calculator-form .insurance-calculator-form-content .form-group {
  min-width: 250px;
  margin: 2em 1em;
}

.insurance-calculator-form .insurance-calculator-form-content .form-group label {
  margin: 0.5em 0;
  font-size: 1.8rem;
}

.insurance-calculator-form .insurance-calculator-form-content .form-group input,
.insurance-calculator-form .insurance-calculator-form-content .form-group .input-group-text {
  font-size: 2rem;
}

.insurance-calculator-form .insurance-calculator-form-content .form-group h1 {
  font-size: 3.5rem;
}

.insurance-calculator-form .insurance-calculator-form-content .form-group button {
  width: 100%;
  padding: 0.8em 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffd900;
  border: none;
  border-radius: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
  color: #004fb6;
}

.insurance-calculator-form .insurance-calculator-form-content .form-group button:hover {
  color: #fff;
  background-color: #004fb6;
}

.insurance-calculator-form .date-of-birth,
.insurance-calculator-form .phone {
  width: 250px;
}

.insurance-calculator-form .end-information {
  margin: 6em 1em;
}

@media (min-width: 376px) {
  .drop-down-menu-mobile .white-background .close-button {
    font-size: 1.5rem;
  }
  .drop-down-menu-mobile .white-background .form-floating {
    margin-top: 0;
  }
  header .hero-img .hero-content h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 576px) {
  .drop-down-menu-mobile .white-background {
    height: 70vh;
  }
  .drop-down-menu-mobile .white-background .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .products .card-group .card-third {
    width: 50%;
    margin: 0 auto;
  }
  .products .card-group .card .card-img-top {
    height: 30vw;
  }
  .insurance-calculator-form {
    height: 100vh;
  }
  .insurances-header .insurances-content .end-button {
    width: 200px;
  }
}

@media (max-width: 668px) {
  .drop-down-menu-mobile .white-background .form-floating .navbar-nav .link {
    font-size: 1.7rem;
  }
}

@media (min-width: 576px) and (min-height: 576px) {
  .drop-down-menu-mobile .white-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 30vh;
  }
}

@media (min-width: 768px) {
  header .hero-img .hero-content {
    position: absolute;
    top: 50%;
    display: inline-block;
  }
  header .hero-img .hero-content h1 {
    font-size: 5.5rem;
  }
  header .hero-img .hero-content p {
    font-size: 2.7rem;
  }
  header .hero-img .hero-content .hero-btn {
    display: inline-block;
    margin: 0 1em;
    width: 30%;
  }
  .footer .footer-boxes .social-media {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  nav .navbar-nav {
    display: contents;
    margin-left: 5em;
  }
  nav .navbar-nav .nav-search {
    margin-left: 5em;
    border-left: 1px solid #ffc05a;
    border-right: 1px solid #ffc05a;
  }
  .drop-down-menu-mobile .white-background {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
  }
  .drop-down-menu-mobile .white-background .close-button {
    display: none;
  }
  .drop-down-menu-mobile .white-background .form-floating .form-control {
    width: 30vw;
  }
  .drop-down-menu-mobile .white-background .form-floating .search-button {
    position: absolute;
    display: block;
    left: 95%;
    bottom: 35%;
  }
  .drop-down-menu-mobile .white-background .form-floating .navbar-nav {
    display: none;
  }
  header .hero-img {
    background-image: url("../img/hero-img-big.jpg");
  }
  header .hero-img .hero-content .hero-btn {
    margin: 1.5em 1em;
  }
  .products .card-group .card-third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .products .card-group .card .card-img-top {
    height: 13vw;
  }
  .products .rest-of-products-list .product-box .list {
    height: 150px;
  }
  .products .rest-of-products-list .product-box hr {
    display: none;
  }
  .products .rest-of-products-list .product-box-first,
  .products .rest-of-products-list .product-box-second {
    border-right: 2px solid #eee;
  }
  .footer .footer-boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .footer-boxes .footer-box {
    margin: 0 0.8em;
  }
  .footer .footer-boxes .social-media {
    margin-left: 4em;
  }
  .footer .footer-box-second-list {
    position: relative;
  }
  .footer .footer-box-second-list .footer-copy-right {
    position: absolute;
    right: 0;
  }
  .insurances-more-info .insurances-more-info-content .products .card-group .card .card-body {
    height: 400px;
  }
}

.car-insurance .hero-img {
  background-image: url("../img/car-hero-img-big.jpg");
}

.tourist-insurance .hero-img {
  background-image: url("../img/tourist-hero-img-big.jpg");
}

.life-insurance .hero-img {
  background-image: url("../img/life-hero-img-big.jpg");
}

.investments .hero-img {
  background-image: url("../img/investments-hero-img-big.jpg");
}

.retiring .hero-img {
  background-image: url("../img/retiring-hero-img-big.jpg");
}

@media (min-width: 1200px) {
  .footer .footer-boxes .footer-box {
    width: 190px;
  }
}
/*# sourceMappingURL=main.css.map */